streamlit
torch
transformers
sentence-transformers
elasticsearch
scikit-learn
psycopg2-binary
requests
openai
psycopg2-binary
plotly
pandas
python-dotenv
nltk
tqdm
rouge-score
bert_score
evaluate
accelerate
